<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net/thymeleaf/layout"
      layout:decorate="~{/layout}">
<head>
    <meta charset="UTF-8">
    <title>Elements Page</title>
</head>
<body>
<div layout:fragment="main-content">

    <!-- bradcam_area -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <div class="bradcam_text">
                        <h3>Elements</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /bradcam_area -->

    <!-- Sample Text Area -->
    <section class="sample-text-area">
        <div class="container box_1170">
            <h3 class="text-heading">Text Sample</h3>
            <p class="sample-text">
                Every avid independent filmmaker has <b>Bold</b> about making that <i>Italic</i> interest documentary,
                or short film to show off their creative prowess. Many have great ideas and want to “wow”
                the <sup>Superscript</sup> scene, or video renters with their big project.
                But once you have the <sub>Subscript</sub> “in the can”, how do you move from a
                <del>Strike</del> through to a polished product with <u>Underline</u> and good packaging?
            </p>
        </div>
    </section>
    <!-- End Sample Text Area -->

    <!-- Start Button -->
    <section class="button-area">
        <div class="container box_1170 border-top-generic">
            <h3 class="text-heading">Sample Buttons</h3>
            <div class="button-group-area">
                <a href="#" class="genric-btn default">Default</a>
                <a href="#" class="genric-btn primary">Primary</a>
                <a href="#" class="genric-btn success">Success</a>
                <a href="#" class="genric-btn info">Info</a>
                <a href="#" class="genric-btn warning">Warning</a>
                <a href="#" class="genric-btn danger">Danger</a>
                <a href="#" class="genric-btn link">Link</a>
                <a href="#" class="genric-btn disable">Disable</a>
            </div>
        </div>
    </section>
    <!-- End Button -->

    <!-- Start Align Area -->
    <div class="whole-wrap">
        <div class="container box_1170">

            <!-- Left aligned -->
            <div class="section-top-border">
                <h3 class="mb-30">Left Aligned</h3>
                <div class="row">
                    <div class="col-md-3">
                        <img src="img/elements/d.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-9 mt-sm-20">
                        <p>
                            Recently, the US Federal government banned online casinos from operating in America by making
                            it illegal to transfer money to them through any US bank or payment system...
                        </p>
                    </div>
                </div>
            </div>

            <!-- Right aligned -->
            <div class="section-top-border text-right">
                <h3 class="mb-30">Right Aligned</h3>
                <div class="row">
                    <div class="col-md-9">
                        <p class="text-right">
                            Over time, even the most sophisticated, memory-packed computer can begin to run slow if we don’t
                            maintain it properly.
                        </p>
                    </div>
                    <div class="col-md-3">
                        <img src="img/elements/d.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>

            <!-- Definition -->
            <div class="section-top-border">
                <h3 class="mb-30">Definition</h3>
                <div class="row">
                    <div class="col-md-4">
                        <div class="single-defination">
                            <h4 class="mb-20">Definition 01</h4>
                            <p>Sample text for definition one.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-defination">
                            <h4 class="mb-20">Definition 02</h4>
                            <p>Sample text for definition two.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-defination">
                            <h4 class="mb-20">Definition 03</h4>
                            <p>Sample text for definition three.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Blockquote -->
            <div class="section-top-border">
                <h3 class="mb-30">Block Quotes</h3>
                <blockquote class="generic-blockquote">
                    “Recently, the US Federal government banned online casinos...”
                </blockquote>
            </div>

            <!-- Table -->
            <div class="section-top-border">
                <h3 class="mb-30">Table</h3>
                <div class="progress-table-wrap">
                    <div class="progress-table">
                        <div class="table-head">
                            <div class="serial">#</div>
                            <div class="country">Country</div>
                            <div class="visit">Visits</div>
                            <div class="percentage">Percentages</div>
                        </div>
                        <div class="table-row">
                            <div class="serial">01</div>
                            <div class="country"><img src="img/elements/f1.jpg" alt=""> Canada</div>
                            <div class="visit">645032</div>
                            <div class="percentage">
                                <div class="progress">
                                    <div class="progress-bar color-1" role="progressbar" style="width:80%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Form -->
            <div class="section-top-border">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <h3 class="mb-30">Form Element</h3>
                        <form action="#">
                            <div class="mt-10">
                                <input type="text" name="first_name" placeholder="First Name" required class="single-input">
                            </div>
                            <div class="mt-10">
                                <input type="text" name="last_name" placeholder="Last Name" required class="single-input">
                            </div>
                            <div class="mt-10">
                                <input type="email" name="email" placeholder="Email address" required class="single-input">
                            </div>
                            <div class="input-group-icon mt-10">
                                <div class="icon"><i class="fa fa-thumb-tack" aria-hidden="true"></i></div>
                                <input type="text" name="address" placeholder="Address" required class="single-input">
                            </div>
                            <div class="input-group-icon mt-10">
                                <div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
                                <div class="form-select" id="city-select">
                                    <select>
                                        <option>City</option>
                                        <option>Dhaka</option>
                                        <option>Dilli</option>
                                        <option>New York</option>
                                        <option>Islamabad</option>
                                    </select>
                                </div>
                            </div>
                            <div class="input-group-icon mt-10">
                                <div class="icon"><i class="fa fa-globe" aria-hidden="true"></i></div>
                                <div class="form-select" id="country-select">
                                    <select>
                                        <option>Country</option>
                                        <option>Bangladesh</option>
                                        <option>India</option>
                                        <option>England</option>
                                        <option>Sri Lanka</option>
                                    </select>
                                </div>
                            </div>
                            <div class="mt-10">
                                <textarea class="single-textarea" placeholder="Message" required></textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div> <!-- /.container -->
    </div> <!-- /.whole-wrap -->

</div>
</body>
</html>
